<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.ParcelMapper">
    <select id="selectAll" resultType="tws.entity.Parcel">
        select * from `parcel`;
    </select>
    
    
    <insert id="addParcel">
        insert into parcel(id,name,phone,weight) values(#{parcel.id},#{parcel.name},#{parcel.phone},#{parcel.weight});
    </insert>
    
    <update id="updateParcel">
        update parcel set id = #{parcel.id},name =#{parcel.name},phone = #{parcel.phone},weight = #{parcel.weight} where id = #{id};
    </update>
    
     <delete id="deleteParcel">
        delete from parcel where id = #{id};
    </delete>
</mapper>
